<%  if(alerts.error)  %>
    <%  alerts.error.forEach(msg => { %>
        <div class="alert aler-error"> <%= msg %></div>
    <% }) %>
<%  }  %>

<%  if(alerts.success)  %>
    <%  alerts.success.forEach(msg => { %>
        <div class="alert aler-success"> <%= msg %></div>
    <% }) %>
<%  }  %>
